atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
autoflake==1.4
black==22.1.0; python_full_version >= "3.6.2"
click==8.0.1; python_version >= "3.6" and python_full_version >= "3.6.2"
colorama==0.4.4; sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.6.2" and platform_system == "Windows"
cycler==0.10.0; python_version >= "3.7"
flake8==4.0.1; python_version >= "3.6"
fonttools==4.29.1; python_version >= "3.7"
iniconfig==1.1.1; python_version >= "3.6"
joblib==1.0.1; python_version >= "3.7"
kiwisolver==1.3.2; python_version >= "3.7"
matplotlib==3.5.1; python_version >= "3.7"
mccabe==0.6.1; python_version >= "3.6"
mypy-extensions==0.4.3; python_full_version >= "3.6.2"
numpy==1.22.2; python_version >= "3.8"
packaging==21.0; python_version >= "3.7"
pathspec==0.9.0; python_full_version >= "3.6.2"
pillow==8.3.2; python_version >= "3.7"
platformdirs==2.3.0; python_version >= "3.6" and python_full_version >= "3.6.2"
pluggy==0.13.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
psutil==5.9.0; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
py==1.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pycodestyle==2.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pyflakes==2.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyparsing==2.4.7; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
pyqt5-qt5==5.15.2; python_version >= "3.6"
pyqt5-sip==12.10.1; python_version >= "3.7"
pyqt5==5.15.6; python_version >= "3.6"
pytest==7.0.0; python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
scikit-learn==1.0.2; python_version >= "3.7"
scipy==1.8.0; python_version >= "3.8" and python_version < "3.11"
setuptools-scm==6.4.2; python_version >= "3.7"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
threadpoolctl==2.2.0; python_version >= "3.7"
tomli==1.2.1; python_version >= "3.7" and python_full_version >= "3.6.2"
typing-extensions==3.10.0.2; python_version < "3.10" and python_full_version >= "3.6.2"
